volumes:
  FuzzyFolio:
    external: true
services:
  fastapi:
    environment:
      CORS_HOST: http://localhost:3000
      DATABASE_URL: postgresql://FuzzyFolio:FuzzyFolio@db/FuzzyFolio
      WAIT_HOSTS: db:5432
      PORT: 8000
    build:
      context: api
      dockerfile: Dockerfile.dev
    ports:
      - 8000:8000
    volumes:
      - ./api:/app

  db:
    image: postgres:14.5-bullseye
    volumes:
      - FuzzyFolio:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: FuzzyFolio
      POSTGRES_USER: FuzzyFolio
      POSTGRES_DB: FuzzyFolio
    ports:
      - "15432:5432"

  ghi:
    image: node:lts-bullseye
    command: /bin/bash run.sh
    working_dir: /app
    volumes:
      - ./ghi:/app
    ports:
      - "3000:3000"
    environment:
      HOST_OS: ${OS}
      NODE_ENV: development
      HOST: "0.0.0.0"
      PUBLIC_URL: http://localhost:3000
      REACT_APP_API_HOST: ${REACT_APP_API_HOST}
